<!DOCTYPE html>
<html>
  <head>
    <title>Examples</title>
    <style>
      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
